#header {
    display: block;
    background-color: #42dff4;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 6%;
    padding-top: 0.5%;
}

#footer {
    background-color: #42dff4;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

body {
    background-color: #4186f4;
    font-family: sans-serif;
}

.header-button {
    height: 5%;
    width: 10%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #4186f4;
    transition-duration: 0.3s;
    margin: 0 3vmax 0 3vmax;
    outline: none;
}

button:hover.header-button {
    background-color: #4186f4;
    color: white;
}

.center {
    text-align: center;
}

#tabs{
    margin: 5%;
    margin-top: 5%;
}

#middle {
    display: block;
    margin: 5%;
    margin-top: 5%;
}

.tab-btn {
    margin: none;
    padding: 0;
    /*margin-top: 5%;*/
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    outline: none;
}

button:hover.tab-btn {
    background-color: #42dff4;
}

.text-explain {
    display: none;
    margin: none;
    background-color: #42dff4;
    height: 83.5%;
    padding: 1%;
    padding-bottom: none;
}

textarea, select, input {
  width: 100%;
}

#to-flex {
  display: flex;
  align-items: stretch;
}

.flex-item {
  flex: 1;
}
